.samsung{
    margin: 60px;
 .img{
    justify-content: center;
    object-fit: contain;
    object-position: center;
    img{
       width: 100%;
       height: 500px;
        // width: 770px;
        // height: 533px;
    }
 }  
   
}