.navbar{
    margin: 20px auto;
img{
    justify-content: center;
    object-position: center;
}
form{
    justify-content: center;
}
    .icons{
        display: flex;
        
        gap: 20px;
        svg{
width: 26px;
height: 50px;
cursor: pointer;
        }
    }
}